@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
html{
	height: 100%;
	font-family: 'Quicksand', sans-serif !important;
  	color: rgba(255,255,255,0.6) !important;
}
body{
  font-family: 'Manrope', sans-serif !important;
  color: white;
  background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
	background-attachment: fixed;
  background-image: linear-gradient(150deg, rgba(3, 0, 51, 1), rgba(90, 0, 117, 1), rgba(0, 63, 60, 1)) !important;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Quicksand', sans-serif !important;
  color: rgba(255,255,255,0.6) !important;
}

.btn, .inputField, #projectForm, .projectForm, a.nav-link.active, a.nav-link, .navbar-brand{
	font-family: 'Quicksand', sans-serif !important;
}
.container, .currentProjects{
	margin-top: 3em;
}
.container{
	margin-left: 300px !important;
}

@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
.navbar-brand{
	font-family: 'Faster One', cursive !important;
	font-size: 2em !important;
	color: rgba(255,255,255,0.6) !important;
	letter-spacing: 0.3em !important;
	margin-left: -0.3em !important;
}
a.nav-link.active, a.nav-link{
	color: rgba(255,255,255,0.6) !important;
	margin-left: -1em !important;
	font-family: 'Quicksand', sans-serif !important;
}
.bg-dark{
	background-color: rgba(255,255,255,0.2) !important;
	position: fixed;
    top: 50px;
    left: 60px;
    width: 12%;
    border-radius: 20px;
}
.currentEmployees{
	margin-top: 2em;
}

text{
	fill: rgba(255,255,255,0.6) !important;
	font-weight: 200 !important;
	font-family: 'Quicksand', sans-serif !important;
}
table{
	color: rgba(255,255,255,0.6) !important;
}
th{
	font-size: 0.9em;
	color: rgba(255,255,255,0.6) !important;
	border-color: rgba(255,255,255,0.3) !important;
}
td{
	font-size: 0.85em;
	background-color: rgba(255,255,255,0.2) !important;
	border-color: rgba(255,255,255,0.3) !important;
	font-weight: 200 !important;
}
.table .thead-dark th {
	background-color: rgba(255,255,255,0.2) !important;
	font-weight: 600 !important;
}

.firstName{
	border-radius: 20px 0px 0px 0px !important;
}
.noOfPro{
	border-radius: 0px 20px 0px 0px !important;
}

table.table.table-bordered.table-striped{
	border-radius: 20px !important;
	border-collapse: separate;
	border-spacing: 0em;
}

table.table.table-bordered.table-striped {
	border: none !important;
}

 tr:nth-last-child(1) > .firstNameEntry{ 
	border-radius: 0px 0px 0px 20px !important;
}

 tr:nth-last-child(1) > .noOfProEntry{ 
	border-radius: 0px 0px 20px 0px !important;
}

.timelines{
	height: 468px !important;
	margin-left: 2em !important;
	margin-top: 2em !important;
	background-color: rgba(255,255,255,0.2) !important;
	border-radius: 20px !important;
}
.dashboard{
	background-color: rgba(255,255,255,0.2) !important;
	border-radius: 20px !important;
	padding: 20px;
	padding-top: 30px;
	text-align: center !important;
	vertical-align: center !important;
}
.chart{
	margin-left: 8em !important;
	margin-top: 1.8em !important;
	background-color: rgba(255,255,255,0.2) !important;
	border-radius: 20px !important;
}
#lastRow{
	margin-bottom: 6em !important;
}
.projectFormContainer{
	background-color: rgba(255,255,255,0.2) !important;
	border-radius: 20px !important;
	padding: 30px;
	width: 500px !important;
	margin-top: 4em;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center;
}

.btn{
	border-radius: 30px;
}

.btn-danger{
	background: linear-gradient(132deg, rgba(127,0,177,0.5) 0%, rgba(200,0,105,0.5) 100%);
	color: rgba(255,255,255,0.6) !important;
	border: none !important;;
}
.btn-info{
	background: linear-gradient(132deg, rgba(0,10,177,0.5) 0%, rgba(150,0,176,0.5) 100%) !important;
	color: rgba(255,255,255,0.6) !important;
	margin-right: 2em !important;
	border: none !important;;
}

.add{
	margin-bottom: 3em;
	background: linear-gradient(132deg, rgba(224,0,200,0.5) 0%, rgba(124,0,255,0.5) 100%) !important;
	border: none !important;
	padding: 0.5em 1.2em !important;
	color: rgba(255,255,255,0.6) !important;
	font-size: 1.1em;
}
.projectForm{
	width: 400px !important;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 7px;
	margin-left: auto;
	margin-right: auto;
}
#projectForm{
	max-width: 360px !important;
	margin-top: 1.5em;
}
.inputField{
	background-color: rgba(255,255,255,0.1) !important;
	border: none !important;
	color: rgba(255,255,255,0.6) !important;;
}

div[class^='ui'], div[class*=' ui'], a[class^='ui'], a[class*=' ui'], td[class^='ui'], td[class*=' ui'], span.ui-icon.ui-icon-circle-triangle-w, 
span.ui-icon.ui-icon-circle-triangle-e{
	background-color: rgba(255,255,255,0.2) !important;
	border-radius: 20px !important;
	color: rgba(255,255,255,0.6) !important;
	font-family: 'Quicksand', sans-serif !important;
	border: none !important;
}
div#ui-datepicker-div{
	background-image: linear-gradient(132deg, rgba(64,39,129,1) 0%, rgba(149,0,150,1) 100%) !important;
}



