<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<body>
	<nav th:replace="layouts :: navbar"></nav>
	
	<div class="container">
		<h5>PROJECT DIRECTORY</h5>
		<hr>
		
		<a th:href="@{/projects/new}" class="btn btn-primary btn-sm add">CREATE PROJECT</a>
		<br/>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th class="firstName" >PROJECT NAME</th>
					<th>PROJECT STATUS</th>
					<th class="noOfPro" style="width:20%">EDIT</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aProject : ${projects}">
					<td class="firstNameEntry" th:text="${aProject.name}"/>
					<td th:text="${aProject.stage}"/>
					<td class="noOfProEntry" style="width:30%">
						<a th:href="@{/projects/delete(id=${aProject.projectId})}"
							class="btn btn-danger btm-sm delete"
							onClick="if (!(confirm('Are you sure you want to delete this entry?'))) return false">DELETE</a>
					</td>
				</tr>
			</tbody>	
		</table>
	</div>
	
</body>

</html>