<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<body>
	<nav th:replace="layouts :: navbar"></nav>
	
	<div class="container">
		<h3>Project Directory</h3>
		<hr>
		
		<a th:href="@{/projects/new}" class="btn btn-primary btn-sm">Create Project</a>
		<br/>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Project Name</th>
					<th>Project Status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aProject : ${projects}">
					<td th:text="${aProject.name}"/>
					<td th:text="${aProject.stage}"/>
				</tr>
			</tbody>	
		</table>
	</div>
	
</body>

</html>