<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
	<nav th:replace="layouts :: navbar"></nav>
	
	<div class="container projectFormContainer">
		<h5 class="projectForm" style="margin-bottom:2em;">UPDATE PROJECT</h5>
		<form action="/projects/save" th:object="${project}" method="POST">
		
			<input type="hidden" th:field="${project.projectId}"/>
			<input type="hidden" th:field="*{employees}" />
			
			<div class="form-group row projectForm">
				Project Name:
				<input class="projectForm inputField" type="text" th:field="*{name}">
				<span style="color:red" th:if="${#fields.hasErrors('name')}"
					  th:errors="${project.name}">
				</span>
			</div>
			
			<div class="form-group row projectForm">
				Project Status:
				<select th:field="${project.Stage}" class="projectForm inputField">
					<option th:value="NOTSTARTED"> Not Started</option>
					<option th:value="INPROGRESS"> In Progress</option>
					<option th:value="COMPLETED"> Completed</option>
					<option th:value="ONHOLD"> On Hold</option>
				</select>
				<span style="color:red" th:if="${#fields.hasErrors('Stage')}"
					  th:errors="${project.Stage}">
				</span> 
			</div>
			
			<div class="form-group row projectForm">
				Project Description:
				<textarea class="projectForm inputField" type="text" th:field="${project.description}"></textarea>
				<span style="color:red" th:if="${#fields.hasErrors('description')}"
					  th:errors="${project.description}">
				</span>
			</div>
			
			<div class="form-group row projectForm">
				RE-ENTER Project Start Date:
				<input id="dp3" type="text" placeholder="Re-enter Project Dates" class="projectForm inputField" value="Start Date" th:field="${project.startDate}">
				<span style="color:red" th:if="${#fields.hasErrors('startDate')}"
					  th:errors="${project.startDate}">
				</span>
			</div>
			
			
			
			<div class="form-group row projectForm">
				RE-ENTER Project End Date:
				<input id="dp4" type="text" placeholder="Re-enter Project Dates" class="projectForm inputField" value="End Date" th:field="${project.endDate}">
				<span style="color:red" th:if="${#fields.hasErrors('endDate')}"
					  th:errors="${project.endDate}">
				</span>
			</div>
			
			<script type="text/javascript">
		      	$('#dp3').datepicker();
		      	$('#dp4').datepicker();
		      </script> 
			
			
			<button class="btn btn-info col-2" id="projectForm" type="submit">Update Project</button>
		
		</form>
	</div>
	
</body>

</html>